*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

iframe {
  border: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

input[type=search] {
  background-color: transparent;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  /* 1 */
  overflow: visible;
  color: inherit;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

details {
  display: block;
}

summary {
  display: list-item;
}

img {
  border-style: none;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

template {
  display: none;
}

.swiper {
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 15px;
  background-color: #000;
  border-radius: 5px;
  opacity: 0.2;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  height: 15px;
  background-color: #000;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  stroke: white;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Regular.woff2") format("woff2"), url("../fonts/GothamPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --clr__white: #fff;
  --clr__black: #000;
  --clr__yellow: #F19D2F;
  --clr__yellow-lg: #FFD1AC;
  --clr__green: #37D997;
  --clr__grey: #F0F0F0;
  --clr__red: #E27500;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

:root {
  --min-width: 320px;
  --max-width: 1440px;
  --content-width: 1170px;
  --container-offset: 30px;
  --container: calc(var(--content-width) + (var(--container-offset) * 2));
  --font-family-main: "GothamPro", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.15;
  --main-color: #2C2B31;
  --main-color-bg: #FFFFFF;
}

.page {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page__body {
  min-width: var(--min-width);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-color);
  background-color: var(--main-color-bg);
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page__wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page__wrapper > * {
  min-width: 0;
}

.container,
[class*=__container] {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

.preview__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 14px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--clr__yellow);
}

.preview__offer .wrapper {
  width: 100%;
}

.preview__offer .wrapper::before,
.preview__offer .wrapper::after {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/flag.png) no-repeat center/cover;
}

.preview__offer .wrapper p {
  display: inline;
}

.preview__title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px;
  background-color: var(--clr__yellow-lg);
}

.preview__main {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 390/280;
}

.preview__img {
  position: absolute;
  inset: 0;
  background-color: var(--clr__yellow);
}

.preview__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.preview__info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 14px;
}

.preview__plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 114px;
  max-height: 58px;
  padding-inline: 7px;
  border-radius: 7px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr__white);
}

.preview__plate--yellow {
  padding-block: 9px;
  background-color: var(--clr__yellow);
}

.preview__plate--green {
  padding-block: 6px;
  background-color: var(--clr__green);
}

.preview-timer__title {
  font-size: 11.6px;
}

.preview-timer__numbers {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  font-size: 21px;
}

.preview-price__old {
  position: relative;
  font-size: 18px;
}

.preview-price__old::after {
  content: "";
  position: absolute;
  left: -3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(100% + 6px);
  height: 3.5px;
  background-color: var(--clr__red);
  border-radius: 10px;
}

.preview-price__new {
  font-size: 22px;
}

.card {
  padding: 10px 0 40px;
  background-color: var(--clr__grey);
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  font-size: 19.2px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.card__button {
  padding: 10px 20px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 15px;
  color: var(--clr__white);
  background-color: var(--clr__green);
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-header__evaluation {
  font-size: 12px;
}

.card-header__brand {
  width: 72px;
  height: 18px;
}

.card-header__status {
  color: var(--clr__green);
  font-size: 12px;
  text-decoration-line: underline;
}

.main-slider {
  border-radius: 20px;
  overflow: hidden;
}

.main-slider__slide {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.main-slider__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.thumb-slider__slide {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.thumb-slider__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.thumb-slider__slide.swiper-slide-thumb-active {
  opacity: 0.4;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  font-size: 15.29px;
  color: var(--clr__black);
}

.card-info__delivery b,
.card-info__stock b {
  font-weight: 700;
}

.card-info__delivery::after,
.card-info__stock::after {
  content: "";
  position: relative;
  top: 2px;
  left: 6px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/flag.png) no-repeat center/cover;
}

.card-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.card-rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}

.card-rating__number {
  font-size: 15.29px;
}

.card-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.card-form__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-form__item label {
  font-size: 10px;
}

.choices {
  text-align: center;
  font-size: 21.69px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 30px;
  background-color: var(--clr__white);
  border-radius: 10px;
  border: none;
  outline: none;
}

.choices__list--single {
  position: relative;
}

.choices__list--single::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2px;
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  width: 20px;
  height: 10px;
  background: url(../img/arrow.svg) no-repeat center/cover;
  pointer-events: none;
}

.choices__list--dropdown {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--clr__white);
  overflow: hidden;
}

.choices__list--dropdown.is-active {
  display: block;
}

.choices__item.is-selected {
  background-color: var(--clr__yellow-lg);
}

@media (max-width: 1440px) {
  :root {
    --font-size: 14px;
  }
}

@media (max-width: 390px) {
  :root {
    --container-offset: 14px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .page {
    scroll-behavior: smooth;
  }
}